@import 'Sass/config.scss';

#services-card{
  display: flex;
  flex-direction: column;

  .container{
    width: 100%;
    margin-top: 3rem;
    display: flex;
    justify-content: center;

    .container-dev-card{
      width: 100%;
      min-height: 366px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-left: 1rem;
      background-color: $dark-blue;
      border-radius: 10px;
      transition: ease 0.2s;

      @media (max-width: 767px){
        flex-direction: column;
        padding: 0px;
        overflow: hidden;
        max-height: 760px;
      }

      #title-and-services {

        h2{
          margin-top: 2.5rem;
          margin-left: 2.5rem;
          font-family: "Univia Pro";
          font-size: 3rem;
          color: #FFFFFF;
          font-weight: 500;

          @media (max-width: 503px) {
            font-size: 2.25rem;
          }
        }

        .services-card{
          width: 100%;
          padding: 2.5rem;
          padding-top: 3rem;
          display: flex;
          flex-direction: row;

          @media (max-width: 767px){
            flex-direction: column;
          }

          #services {
            display: flex;
            flex-direction: row;

            @media (max-width: 767px){
              flex-direction: column;
              gap: 30px;
            }

            .services-description {
              width: 50%;
              
              @media (max-width: 767px){
                width: 100%;
              }

              &#design-side {
                margin-right: 30px;
              }
              h3{
                font-family: 'Roboto-bold';
                font-size: 1.5rem;
                font-weight: 700;
                margin-bottom: 20px;
                color: #FFFFFF;
              }
            }

          }
        }


      }

      #services-element {
        width: 33.3333%;
        height: auto;

        @media (max-width: 767px){
          width: 100%;
          object-fit: cover;
        }
      }

      @media (max-width: 768px){
        width: 100%;
      }
    }

    @media (max-width: 768px){
      flex-wrap: wrap;
    }
  }
}