@import 'Sass/config.scss';

#ebook {
  min-height: 100vh;
  color: #333;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 50px;
  padding: 0 200px;

  @media (max-width: 992px) {
    padding: 0 20px;
  }

  .title {
    font-family: 'Univia Pro';
    font-size: 4rem;
    color: $dark-blue;
    margin-top: 0;
    font-weight: 500;
    line-height: 1.2;
    animation: slideRight 1s ease-in-out;

    @media (max-width: 991px) {
      font-size: 3rem;
    }

    @media (max-width: 768px) {
      font-size: 2.5rem;
    }
  }

  .comment {
    font-size: 14px;
    font-family: 'Roboto italic';
  }

  .container {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 32px;

    @media (max-width: 988px) {
      width: 65%;
    }

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  .text {
    font-size: 1.3rem;
    font-family: "Roboto";
    color: #000000;
  }

  .paragraph {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}