@import 'Sass/config.scss';

.contact-form {
  width: 100%;
  height: auto;

  &.form-home{
    margin-bottom: 2rem;
  }

  .form-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    @media (max-width: 503px) {
      max-width: 100%;
    }

    .contact-title {
      display: flex;
      align-items: start;
      width: 100%;

      h2 {
        color: $dark-black;
        font-family: 'Univia Pro';
        font-size: 3rem;
      }
    }

    .form-label {
      font-family: 'Roboto';
      font-weight: 400;
      color: $dark-black;
      font-size: 1rem;

      span {
        color: $red;
      }
    }

    #container-form-location {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .container-form {
        width: 75%;

        @media (max-width: 991px) {
          width: 50%;
        }

        .data-container {
          display: flex;
          flex-direction: column;
          width: 100%;
          gap: 24px;
          margin-bottom: 24px;

          .locker {
            width: 100%;

            input {
              border: none;
              border-radius: 5px;
              width: 100%;
              height: 3em;
              color: $dark-black;
              background-color: #003c7b17;
              text-indent: 1rem;
              transition: transform 0.1s ease;

              &::placeholder {
                font-family: 'Roboto';
                font-weight: 400;
                font-size: 1rem;
                color: $grey;
                opacity: 1;
              }

              &:focus-visible {
                outline: #598392 solid 2px ;
                transform: scale(1.01);
              }
            }
    
            .input-incorrect {
              position: relative;
              top: 7px;
              left: 8px;
              color: red;
              font-size: 1rem;
            }
          }
        }
    
        .consult-container {
          display: flex;
          flex-direction: column;
          width: 100%;
          
          span {
            color: $red;
          }
    
          textarea {
            border: none;
            border-radius: 5px;
            height: 5em;
            color: $dark-black;
            background-color: rgba(0, 60, 123, 0.0901960784);
            margin-bottom: 22px;
            text-indent: 13px;
            padding: 1em 0.4em;
            transition: transform 0.1s ease;

            &::placeholder {
              font-family: 'Roboto';
              font-weight: 400;
              font-size: 1rem;
              color: $grey;
              opacity: 1;
            }
    
            &:focus-visible {
              outline: #598392 solid 2px ;
              transform: scale(1.01);
            }
          }
    
          .input-incorrect-consult {
              position: relative;
              bottom: 16px;
              left: 7px;
              z-index: 99;
              color: $red;
              font-size: 1rem;
            }
    
    
          input {
            width: min-content;
            color: $withe;
            font-size: 1.125rem;
            padding: 10px 20px;
            background-color: $dark-blue;
            border: none;
            cursor: pointer;
    
            &:hover {
              opacity: .9;
            }
    
            &.form-empty {
              cursor: not-allowed;
              opacity: .6;
            }
          }
        }
      }

      .location-data {
        span {
          color: $dark-blue;
          font-size: 1.5rem;
        }

        p {
          font-family: 'Roboto';
          font-size: 1.25rem;
          font-weight: 400;
          text-align: left;
          color: $dark-black;

          &.country {
            font-family: 'Roboto-Bold';
            font-size: 1.25rem;
            color: $dark-blue
          }
        }

        a {
          font-family: 'Roboto';
          font-weight: 400;
          font-size: 1rem;
          color: $dark-blue;
        }
      }

      @media all and (max-width:768px) {
        flex-direction: column;
        
        .container-form,
        .location-data {
          width: 100%;
        }

        .location-data>p{
          text-align: left;
        }
      }
    }

  }

  /* @media all and (max-width: 525px) {
    width: 90%;
    margin-bottom: 3rem;
  }

  @media all and (max-width: 503px) {
    height: 600px;
  } */
}