
//Colors

$withe:       #FAFAFA;
$dark-blue:   #00006C;
$light-blue:  #80BCE5;
$red:         #DD3636;
$yellow:      #EDC14F;
$green:       #00C800;
$purple:      #995EF8;
$dark-black:  #000000;
$light-black: #222222;
$grey:        #606060;