@import 'Sass/config.scss';

#footer{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $withe;
  font-family: 'Roboto';
  padding: 2rem 0px;
  position: absolute;

  .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    @media (max-width: 768px) {
      flex-direction: column;
      gap: 50px;
    }

    .container_footer_links{
      display: flex;
      align-items: center;
      justify-content: flex-flex-start;
      height: 100%;

      ul{
        list-style: none;
        padding: 0;

        li{
          a {
            color: $dark-blue;
            font-size: 1rem;
            }

          @media (max-width: 768px){
            margin-top: 1rem;
          }
        }

        @media (max-width: 768px){
          padding: 0;
        }
      }
    }

    #social_icons{
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      i {
        margin: 1rem;
        font-size: 1.5rem;
        color: $dark-blue;
      }
    }

    .container_footer_logo{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;

        a{
            img{
              width: 65px;
              height: auto;
            }
        }
    }
  }
}