@font-face {
  font-family: 'Univia Pro';
  src: url('./UniviaPro-Regular.otf');
}

@font-face {
  font-family: 'Maqueen Sans';
  src: url('./Maqueen-Sans.otf');
}

@font-face {
  font-family: 'Roboto';
  src: url('./Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto-bold';
  src: url('./Roboto-Bold.ttf');
}