@import 'Sass/config.scss';

.tech-stack {
  margin: 4rem 0;

  .container {
    .contain-tech {
      .tech-title {
        width: 100%;

        h2 {
          font-family: 'Univia Pro';
          font-size: 3rem;
          color: $dark-black;
          font-weight: 500;
          margin-bottom: 0.5rem;
        }
      }
      .contain-tech-card{
        display: flex;
        flex-wrap: wrap;
        margin-top: 1.5rem;
        gap: 1.5rem;
        .tech-card {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          padding: 1.3rem 4.5rem;
          background-color: $dark-blue;
          border-radius: 10px;
  
          span {
            margin: 0 20px;
            font-size: 3rem;
            color: $green;
          }
  
          p {
            text-align: center;
            font-size: 0.875rem;
            color: $withe;
          }
        }
      }
    }
  }
}