@import 'Sass/config.scss';

.btn_download {
    width: fit-content;
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    color: $withe;
    background-color: $dark-blue;
    transition: .2s ease;

  &:hover {
    background-color: $green;
    color: $dark-blue;
    background-image: none;
  }

  &.active {
    background-image: none;
  }
}

.modal_content {
  display: grid;
  place-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;  
  height: 100dvh;
  inset: 0;

  .background_modal {
    display: inline-block;
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: -1;
  }
}