@import 'Sass/config.scss';

#about-us{

  .section-title{

    .container{
      position: relative;
      width: 100%;
      max-width: 100%;

      .container-titles {
        position: absolute;
        top: 30%;
        left: 14%;
        z-index: 2;

        h1, h2 {
          color:#FFFFFF;

          &#we-are {
            font-size: 7rem;
            font-family: 'Maqueen Sans';
          }
          &#devias{
            font-size: 5rem;
            font-family: 'Univia Pro';
          }
        }
      }

      #banner {
        width: 100%;
        height: auto;
        max-width: 100%;
        border-radius: 10px;
      }
      
      #placeholder {
        position: absolute;
        top: 0;
        left: 0.75rem;
        right: 0.75rem;
        width: calc(100% - 1.50rem);
        height: calc(100% - 0.5rem);
        background-color:#00000066;
        border-radius: 10px;
      }

      #element-left {
        position: absolute;
        width: 8vw;
        height: auto;
        left: 0.75rem;
        top: 25%;
      }

      #element-right {
        position: absolute;
        width: 32vw;
        height: auto;
        right: 0.75rem;
        top: 25%;
      }
    }
  }

  #hello-from-argentina {
    margin-top: 20px;

    .container {
      position: relative;
      width: 100%;
      max-width: 100%;

      #card {
        display: flex;
        flex-direction: row;
        background-color: $dark-blue;
        border-radius: 10px;
        padding: 80px 75px;
        gap: 50px;

        #map {
          width: auto;
          height: 100%;
        }

        #container-title-hello {
          padding: 0px 35px;

          #hello {
            font-family: 'Maqueen Sans';
            font-size: 7rem;
            color: $purple;
          }
          #argentina {
            font-family: 'Univia Pro';
            font-size: 5rem;
            color: $withe;
          }

          #elements {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }

  .section-info{
    margin-top: 150px;
    padding: 0px 200px;

    .container{

      .info-container {
        width: 760px;
        max-width: 100%;
        overflow-wrap: break-word;
        margin-bottom: 60px;

        .info-title {
          font-family: 'Roboto-bold';
          color: $dark-black;
          font-size: 2.25rem;
          margin-bottom: 20px;
        }

        .info-text {
          font-family: 'Roboto';
          color: $light-black;
          font-size: 1.5rem;
          font-weight: 400;
        }

      }
    }
  }

  #slider-team {
    height: 600px;
    width: auto;
    margin: 100px 10px;

    .container {
      position: relative;
      height: 100%;
      width: 100%;
      max-width: 100%;

      .swiper {
        width: 100%;
        height: 100%;
  
        .swiper-slide {
          width: auto !important;
    
          img {
            margin: 0px 15px;
            height: 100%;
            width: auto;
            border-radius: 10px;
          }
        }
      }
    }



  }
}

@keyframes slideRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}