@import 'Sass/config.scss';

#our-customers {
  background-color: #FAFAFA;

  .section-title {
    .container {
      .main-title {
        margin: 100px 0 64px 0;

        @media (max-width: 991px){
          margin: 5rem 0;
        }

        @media (max-width: 768px){
          margin: 2rem 0;
        }

        h1 {
          font-family: 'Univia Pro';
          font-size: 4rem;
          color: $dark-blue;
          margin-top: 0;
          margin-bottom: 2rem;
          font-weight: 500;
          line-height: 1.2;
          animation: slideRight 1s ease-in-out;

          @media (max-width: 991px) {
            font-size: 3rem;
          }

          @media (max-width: 768px) {
            font-size: 2.5rem;
          }
        }

        h2 {
          font-family: 'Roboto';
          font-weight: 400;
          font-size: 3rem;
          margin-top: 30px;
          color: $dark-blue;
          animation: slideRight 0.5s ease-in-out;

          @media (max-width: 768px) {
            font-size: 2rem;
          }
        }
      }
    }
  }

  .container-project-detail {
    padding: 2rem 0;
    background-color: #FAFAFA;

    .container {
      .project-detail {
        .contain-info {
          .project-title {
            a {
              /* color: $dark-black; */
            }
          }

          .project-description {
            p {
              color: $light-black
            }
          }

          .project-buttons {
            .read-more {
              a {
                color: #FFF;
                background-color: #598392;
                transition: ease 0.2s;

                &:hover {
                  background-color: #606060;
                }
              }
            }

            .see-all {
              display: none;
            }
          }
        }
      }

      button, i{
        color: #598392;
      }
    }
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}